/* Global.css */
:root {
  --background-color: #242424; /* Taustavärv */
  --text-color: rgba(255, 255, 255, 0.87); /* Teksti värv */
  --link-color: #646cff; /* Lingi värv */
  --link-hover-color: #535bf2; /* Lingi hover värv */
  --button-bg-color: #1a1a1a; /* Nupu taustavärv */
  --button-border-color: #646cff; /* Nupu piiri värv */
  --button-hover-bg-color: #4357AD; /* Nupu hover taustavärv */
  --primary-color: #5C7AEA; /* Peamine brändi värv */
  --primary-dark-color: #4357AD; /* Tumedam variatsioon peamisest värvist */
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
}