.App-header {
  margin-top: 3rem;
  text-align: center;
}

.App-header img {
  max-height: 50px;
  max-width: 100%;
}

.App-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.App-link {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--button-bg-color);
  color: var(--text-color);
  text-decoration: none;
  transition: border-color 0.25s;
}

.App-link:hover {
  border-color: var(--button-border-color);
}
